extends layout

block content
  h1.w3-center= title
  p.w3-center Esta página serve como página principal do segundo exercício do teste de RPCW2022
  .w3-container.w3-margin.w3-center
    a(href="/classes")
      b Classes
    br
    a(href="/termos")
      b Termos de Índice
